.App {
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  margin: 0 auto 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button3 {background-color: #f44336;}

.button4 {
  background-color: purple;
  margin-bottom: 10px;
}

.pink {
  background-color: pink;
}

.yellow {
  background-color: yellowgreen;
}

.in-outer {
  margin-bottom: 10px;
} 

.save-button {
  margin-left: 5px;
}

.input-deco {
  height: 40px;
  font-size: medium;
}

.class-button {
  margin-bottom: 10px; 
}

.column {
  flex: 1;
  margin: 10px;
}

.App2 {
  display: flex;
}

.buttonStyle {
  margin-left: 400px;
  margin-bottom: 20px;
}

.inputStyle {
  margin-left: 380px;
  margin-bottom: 20px;
}